:root {
    --primary-color: #000000;
    --secondary-color: #fffffc;
    --blue-color: #33A1FD;
    --gray-color: #696773;
}

html,
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    justify-content: center;
    font-family: "Poller One", cursive;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 15px;
    font-size: 20px;
    margin: 0 30px;
}

nav ul li a:hover {
    color: var(--blue-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.hero {
    position: relative;
    margin-bottom: 0;
    height: 572px;
    border-bottom: 3px solid white;
}

.bio {
    width: 600px;
    position: relative;
    left: 200px;
    top: 100px;
    font-family: "Poller One", cursive;
    margin-top: 70px;
}

.bio h1 {
    font-size: 45px;
    margin: 10px 0 20px 0;
}

.first-name {
    color: var(--blue-color);
}

.pics {
    display: flex;
    justify-content: right;
    width: 440px;
    height: 660px;
    position: relative;
    margin-bottom: 255;
    left: 56%;
    bottom: 250px;
    z-index: 1;
}

img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: -1;
}


.my-work {
    top: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 3px solid white;
}

.section-title {
    display: flex;
    font-size: 50px;
    justify-content: center;
    font-family: "Poller One", cursive;
}

.run-buddy {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    background-image: url(./images/Screenshot\ \(2\).png);
    background-size: cover;
}

.run-buddy h2 {
    text-align: center;
    position: relative;
    width: 150px;
    bottom: -171px;
    right: -120px;
    height: 27px;
    color: var(--primary-color);
    background-color: white;
    margin-top: 3px;
    font-family: "poller one", cursive;
    font-size: 20px;
}

.future-work {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    margin-bottom: 30px;
}

.future-work h2 {
    justify-content: center;
    position: relative;
    width: 160px;
    bottom: -171px;
    right: -120px;
    height: 27px;
    color: var(--primary-color);
    background-color: white;
    margin-top: 3px;
    font-family: "poller one", cursive;
    font-size: 20px;
}

.future-work:hover,
.run-buddy:hover {
    border: 5px solid var(--blue-color);
    box-shadow: 0 4px 10px var(--gray-color);
}

.footer ul {
    position: relative;
    left: 250px;
    display: flex;
    list-style-type: none;
}

.footer ul li {
    padding: 15px;
    font-size: 20px;
    margin: 0 30px;
}

.footer ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.footer ul li:hover,
.footer a:hover {
    color: var(--blue-color);
}

.footer {
    font-family: "Poller One", cursive;
}


@media screen and (max-width: 980px) {
    header nav ul {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .pics {
        height: 99%;
        left: 42%;
        z-index: 1;
    }

    .bio {
        width: 46%;
        left: 100px;
        position: relative;
        text-align: left;
    }

    body {
        margin: 0px;
        padding: 0px
    }

    .footer ul {
        position: relative;
        left: -4px;
    }

    .hero {
        height: 58vw;
    }
}

@media screen and (max-width: 768px) {
    header nav ul li {
        position: relative;
        left: -40px;
        width: 100%;
    }

    .bio {
        position: relative;
        left: 55px;
        width: 60%;
    }

    .pics {
        left: 46%;
        display: flex;
    }

    .run-buddy {
        flex: 0 100%;
        margin-bottom: 30px;
    }

    .future-work {
        flex: 0 100%;
    }

    .my-work h2 {
        left: 0;
    }

    .hero {
        height: 56.5vw;
    }

    .footer ul {
        display: inline;
        text-align: center;
    }
}


@media screen and (max-width: 576px) {
    header {
        width: 100%;
    }

    header nav ul {
        display: flex;
    }

    header nav ul li {
        width: 100%;
        padding: 0px;
        justify-content: center;
    }

    .hero {
        height: 57vw;
    }

    .run-buddy,
    .future-work {
        width: 40vw;
    }

    .pics {
        left: 24%;
        height: 65vw;
    }

    .bio {
        font-size: 2vw;
        left: 30px;
        top: 50px;
    }
}