:root {
    --primary-color: #000000;
    --secondary-color: #fffffc;
    --blue-color: #33A1FD;
    --gray-color: #696773;
}

html,
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    justify-content: center;
    font-family: "Poller One", cursive;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 15px;
    font-size: 20px;
    margin: 0 30px;
}

nav ul li a:hover {
    color: var(--blue-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.hero {
    position: relative;
    display: flex;
    margin-bottom: 0;
    height: 572px;
    border-bottom: 3px solid white;
}

.bio {
    height: 50%;
    width: 50%;
    position: relative;
    margin: auto;
    font-family: "Poller One", cursive;
}

.bio h1 {
    font-size: 45px;
    margin: 10px 0 20px 0;
}

.first-name {
    color: var(--blue-color);
}

.pics {
    display: flex;
    justify-content: right;
    width: 20%;
    height: 100%;
    position: relative;
    margin: auto;
    z-index: 1;
}

img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: -1;
}


.my-work {
    top: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 3px solid white;
}

.section-title {
    display: flex;
    font-size: 4vw;
    justify-content: center;
    font-family: "Poller One", cursive;
}

.run-buddy {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    background-image: url(./images/Screenshot\ \(2\).png);
    background-size: cover;
}

.eat-your-luck {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    background-image: url(./images/Screenshot\ \(4\).png);
    background-size: cover;
}

.weather-dashboard {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    background-image: url(./images/Screenshot\ \(8\).png);
    background-size: cover;
}

.calendar-app {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    background-image: url(./images/Screenshot\ \(6\).png);
    background-size: cover;
}

.git-it-done {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    background-image: url(./images/Screenshot\ \(7\).png);
    background-size: cover;
}

.fit-wit {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    background-image: url(./images/Screenshot\ \(12\).png);
    background-size: cover;
}

.run-buddy h2,
.calendar-app h2,
.eat-your-luck h2,
.weather-dashboard h2,
.git-it-done h2,
.fit-wit h2 {
    justify-content: center;
    position: relative;
    width: 100%;
    bottom: -171px;
    height: 27px;
    color: var(--primary-color);
    background-color: white;
    margin-top: 3px;
    font-family: "poller one", cursive;
    font-size: 20px;
}

.fit-wit,
.eat-your-luck,
.calendar-app,
.weather-dashboard,
.git-it-done {
    width: 400px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    margin-bottom: 30px;
}

.run-buddy:hover,
.eat-your-luck:hover,
.calendar-app:hover,
.weather-dashboard:hover,
.git-it-done:hover,
.fit-wit:hover {
    border: 5px solid var(--blue-color);
    box-shadow: 0 4px 10px var(--gray-color);
}

.footer ul {
    position: relative;
    display: flex;
    list-style-type: none;
    left: -4%;
    justify-content: center;
}

.footer ul li {
    padding: 15px;
    font-size: 20px;
    margin: 0 30px;
}

.footer ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.footer ul li:hover,
.footer a:hover {
    color: var(--blue-color);
}

.footer {
    font-family: "Poller One", cursive;
}


@media screen and (max-width: 980px) {
    header nav ul {
        padding-bottom: 0;
        position: relative;
        width: 100%;
        font-size: 3vw;
    }

    .pics {
        display: flex;
        margin: auto;
        z-index: 1;
        width: 50%;
        height: 100%;
    }

    .bio {
        width: 50%;
        height: 50%;
        left: 10%;
        font-size: 2vw;
        margin: auto;
        position: relative;
        text-align: left;
    }

    body {
        margin: 0px;
        padding: 0px
    }

    .run-buddy {
        width: 45%;
    }

    .footer ul {
        position: relative;
        display: flex;
        list-style-type: none;
        width: 100%;
        left: -7%;
    }

    .hero {
        height: 58vw;
    }
}

@media screen and (max-width: 768px) {
    header nav ul li {
        position: relative;
        left: -40px;
        width: 100%;
        font-size: 3vw;
    }

    .bio {
        width: 50%;
        height: 50%;
        left: 10%;
        font-size: 2vw;
        margin: auto;
        position: relative;
        text-align: left;
    }

    .pics {
        display: flex;
        margin: auto;
        z-index: 1;
        width: 50%;
        height: 100%;
    }

    .run-buddy {
        flex: 0 100%;
        margin-bottom: 30px;
    }

    .my-work h2 {
        left: 0;
    }

    .hero {
        height: 56.5vw;
    }

    .footer ul {
        position: relative;
        left: 0;
        display: inline;
        text-align: center;
        width: 100%;
    }
}


@media screen and (max-width: 576px) {
    header {
        width: 100%;
    }

    header nav ul {
        display: flex;
    }

    header nav ul li {
        width: 100%;
        font-size: 3vw;
        padding: 0px;
        justify-content: center;
    }

    .hero {
        height: 57vw;
    }

    .run-buddy {
        width: 40vw;
    }

    .pics {
        display: flex;
        margin: auto;
        z-index: 1;
        width: 50%;
        height: 100%;
    }

    .bio {
        width: 50%;
        height: 50%;
        left: 10%;
        font-size: 2vw;
        margin: auto;
        position: relative;
        text-align: left;
    }
}

@media screen and (min-width: 375px) {
    nav ul li {
        font-size: 1.5vw;
        margin: 0 10px 0 10px;
    }

    .bio h1 {
        font-size: 5vw;
        margin: 5% 0 5% 1px;
    }

    .section-title {
        font-size: 4vw;
    }

}